<a href="https://colab.research.google.com/github/syh0397/Charter-Dashboard-for-Newbies/blob/main/%ED%8E%B8%EC%9D%98%EC%8B%9C%EC%84%A4_%EC%9C%84%EC%B9%98_%EC%A0%95%EB%B3%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## IMPORT AND API CONTROLLER

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import json
import requests
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/DATA/비저블 맵 프로젝트/전월세_거리당갯수.csv')
df.reset_index()
df

,Unnamed: 0,자치구명,법정동명,지번주소,건물명,층,임대건물명,임대면적,전월세구분,보증금,...,latitude,longitude,conv_num,in_din_total_300,in_mart_total_1000,in_subway_total_500,in_hosp_total_1000,in_cafe_total_300,police_500,center_500
0,0,영등포구,양평동6가,서울특별시 영등포구 양평동6가 93-2,선유도디와이파크,4,오피스텔,19.52,준전세,11000,...,37.543427,126.888418,3,10,2,1,29,4,1,1
1,1,영등포구,양평동6가,서울특별시 영등포구 양평동6가 93-2,선유도디와이파크,6,오피스텔,18.92,전세,13125,...,37.543427,126.888418,3,10,2,1,29,4,1,1
2,2,영등포구,양평동6가,서울특별시 영등포구 양평동6가 93-2,선유도디와이파크,5,오피스텔,18.92,전세,12600,...,37.543427,126.888418,3,10,2,1,29,4,1,1
3,3,영등포구,양평동6가,서울특별시 영등포구 양평동6가 93-2,선유도디와이파크,3,오피스텔,18.92,전세,9923,...,37.543427,126.888418,3,10,2,1,29,4,1,1
4,4,영등포구,양평동6가,서울특별시 영등포구 양평동6가 84,유성빌라(84-0),2,다세대/연립,50.82,준월세,1000,...,37.543388,126.889033,3,11,2,0,28,6,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186,1186,서초구,우면동,서울특별시 서초구 우면동 765,미라쉘,3,오피스텔,19.40,준월세,3000,...,37.456478,127.015923,2,8,1,0,6,3,1,0
1187,1187,서초구,우면동,서울특별시 서초구 우면동 764,계룡리슈빌S,7,아파트,21.59,준월세,1000,...,37.456461,127.016237,2,8,1,0,6,3,1,0
1188,1188,서초구,우면동,서울특별시 서초구 우면동 764,계룡리슈빌S,7,아파트,21.59,준월세,10000,...,37.456461,127.016237,2,8,1,0,6,3,1,0
1189,1189,서초구,신원동,서울특별시 서초구 신원동 619,서초포레스타6단지,4,아파트,49.34,전세,13067,...,37.449935,127.055830,6,16,2,1,14,5,0,2
1190,1190,서초구,신원동,서울특별시 서초구 신원동 68,가원빌딩,2,오피스텔,26.61,준월세,2000,...,37.431432,127.070528,2,11,0,0,0,3,0,0

In [4]:
class KakaoLocalAPI:
    """
    Kakao Local API 컨트롤러
    """

    def __init__(self, rest_api_key):
        """
        Rest API키 초기화 및 기능 별 URL 설정
        """

        # REST API 키 설정
        self.rest_api_key = '650c8233432728848e448a6d76f3f155'
        self.headers = {"Authorization": "KakaoAK {}".format(rest_api_key)}

        # 서비스 별 URL 설정

        # 01 주소 검색
        self.URL_01 = "https://dapi.kakao.com/v2/local/search/address.json"
        # 02 좌표-행정구역정보 변환
        self.URL_02 = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json"
        # 03 좌표-주소 변환
        self.URL_03 = "https://dapi.kakao.com/v2/local/geo/coord2address.json"
        # 04 좌표계 변환
        self.URL_04 = "https://dapi.kakao.com/v2/local/geo/transcoord.json"
        # 05 키워드 검색
        self.URL_05 = "https://dapi.kakao.com/v2/local/search/keyword.json"
        # 06 카테고리 검색
        self.URL_06 = "https://dapi.kakao.com/v2/local/search/category.json"

    def search_address(self, query, analyze_type=None, page=None, size=None):
        """
        01 주소 검색
        """
        params = {"query": f"{query}"}

        if analyze_type != None:
            params["analyze_type"] = f"{analyze_type}"

        if page != None:
            params['page'] = f"{page}"

        if size != None:
            params['size'] = f"{size}"

        res = requests.get(self.URL_01, headers=self.headers, params=params)
        document = json.loads(res.text)

        return document
    
    def geo_coord2regioncode(self, x, y, input_coord=None, output_coord=None):
        """
        02 좌표-행정구역정보 변환
        """
        params = {"x": f"{x}",
                  "y": f"{y}"}
        
        if input_coord != None:
            params['input_coord'] = f"{input_coord}"
        
        if output_coord != None:
            params['output_coord'] = f"{output_coord}"
            
        res = requests.get(self.URL_02, headers=self.headers, params=params)
        document = json.loads(res.text)
        
        return document
        
    
    def geo_coord2address(self, x, y, input_coord=None):
        """
        03 좌표-주소 변환
        """
        params = {"x": f"{x}",
                  "y": f"{y}"}
        
        if input_coord != None:
            params['input_coord'] = f"{input_coord}"
            
        res = requests.get(self.URL_03, headers=self.headers, params=params)
        document = json.loads(res.text)
        
        return document
        
    
    def geo_transcoord(self, x, y, output_coord, input_coord=None):
        """
        04 좌표계 변환
        """
        params = {"x": f"{x}",
                  "y": f"{y}",
                  "output_coord": f"{output_coord}"}
        
        if input_coord != None:
            params['input_coord'] = f"{input_coord}"
        
        res = requests.get(self.URL_04, headers=self.headers, params=params)
        document = json.loads(res.text)
        
        return document
        
    
    def search_keyword(self,query,category_group_code=None,x=None,y=None,radius=None,rect=None,page=None,size=None,sort=None):
        """
        05 키워드 검색
        """
        params = {"query": f"{query}"}
        
        if category_group_code != None:
            params['category_group_code'] = f"{category_group_code}"
        if x != None:
            params['x'] = f"{x}"
        if y != None:
            params['y'] = f"{y}"
        if radius != None:
            params['radius'] = f"{radius}"
        if rect != None:
            params['rect'] = f"{rect}"
        if page != None:
            params['page'] = f"{page}"
        if size != None:
            params['size'] = f"{params}"
        if sort != None:
            params['sort'] = f"{sort}"
        
        res = requests.get(self.URL_05, headers=self.headers, params=params)
        document = json.loads(res.text)
        
        return document
    
            
        
    def search_category(self, category_group_code, x, y, radius=None, rect=None, page=None, size=None, sort=None):
        """
        06 카테고리 검색
        """
        params = {'category_group_code': f"{category_group_code}",
                  'x': f"{x}",
                  'y': f"{y}"}
        
        if radius != None:
            params['radius'] = f"{radius}"
        if rect != None:
            params['rect'] = f"{rect}"
        if page != None:
            params['page'] = f"{page}"
        if size != None:
            params['size'] = f"{size}"
        if sort != None:
            params['sort'] = f"{sort}"
            
        res = requests.get(self.URL_06, headers=self.headers, params=params)
        document = json.loads(res.text)
        
        return document

In [5]:
# REST API 키
rest_api_key = "650c8233432728848e448a6d76f3f155"

kakao = KakaoLocalAPI(rest_api_key)

## 편의점들

In [105]:
places_name = []
road_address_name = []
lat = []
lng = []
distance = []
category_group_name = []

for i in range(len(df)):
  # 편의점
  category_group_code = "CS2"
  x = df['longitude'][i]
  y = df['latitude'][i]
  radius = 300
  ## Request
  result_ = kakao.search_category(category_group_code, x, y, radius)
  # parse
  for k in range(len(result_['documents'])):
    # add in list
    places_name.append(result_['documents'][k]['place_name'])
    road_address_name.append(result_['documents'][k]['road_address_name'])
    lat.append(result_['documents'][k]['x'])
    lng.append(result_['documents'][k]['y'])
    distance.append(result_['documents'][k]['distance'])
    category_group_name.append(result_['documents'][k]['category_group_name'])

In [106]:
conv = pd.DataFrame()

conv['places_name'] = places_name
conv['road_address_name'] = road_address_name
conv['lat'] = lat
conv['lng'] = lng
conv['distance'] = distance
conv['category_group_name'] = category_group_name

conv = conv.drop_duplicates(['road_address_name'], keep = 'first')
conv

,places_name,road_address_name,lat,lng,distance,category_group_name
0,GS25 양평본점,서울 영등포구 양평로30가길 19,126.890408539472,37.542345625392,212,편의점
1,세븐일레븐 양평유성점,서울 영등포구 양평로30나길 14,126.889551547755,37.5433971939308,100,편의점
2,세븐일레븐 양평까뮤스퀘어점,서울 영등포구 양평로30길 14,126.889364685448,37.5412057889037,260,편의점
16,CU 양평한신점,서울 영등포구 양평로24길 9,126.891086345469,37.5407785136294,96,편의점
18,세븐일레븐 양평우림점,서울 영등포구 양평로 149,126.89132789765492,37.538846992992156,208,편의점
...,...,...,...,...,...,...
12361,이마트24 오라카이청계산호텔점,서울 서초구 청계산로9길 1-7,127.054851762929,37.4488232050291,150,편의점
12362,세븐일레븐 서초내곡점,서울 서초구 청계산로 189,127.05550919667,37.4484183428567,170,편의점
12363,이마트24 SMART서초포레스타점,서울 서초구 청계산로11길 7-12,127.05667310274019,37.44826371710339,200,편의점
12364,GS25 청계옛골점,경기 성남시 수정구 청계산로 440,127.071175824544,37.4302968376313,138,편의점
12365,CU 청계산주유소점,경기 성남시 수정구 청계산로 458,127.07316458833745,37.430537095872914,253,편의점

## 음식점들

In [107]:
places_name = []
road_address_name = []
lat = []
lng = []
distance = []
category_group_name = []

for i in range(len(df)):
  # 음식점
  category_group_code = "FD6"
  x = df['longitude'][i]
  y = df['latitude'][i]
  radius = 300
  ## Request
  result_ = kakao.search_category(category_group_code, x, y, radius)
  # parse
  for k in range(len(result_['documents'])):
    # add in list
    places_name.append(result_['documents'][k]['place_name'])
    road_address_name.append(result_['documents'][k]['road_address_name'])
    lat.append(result_['documents'][k]['x'])
    lng.append(result_['documents'][k]['y'])
    distance.append(result_['documents'][k]['distance'])
    category_group_name.append(result_['documents'][k]['category_group_name'])

In [108]:
dinning = pd.DataFrame()

dinning['places_name'] = places_name
dinning['road_address_name'] = road_address_name
dinning['lat'] = lat
dinning['lng'] = lng
dinning['distance'] = distance
dinning['category_group_name'] = category_group_name

dinning = dinning.drop_duplicates(['road_address_name'], keep = 'first')
dinning

,places_name,road_address_name,lat,lng,distance,category_group_name
0,이가네손칼국수,서울 영등포구 양평로28바길 12,126.890882859081,37.5429803680566,223,음식점
1,바우네나주곰탕 선유도점,서울 영등포구 양평로30길 14,126.889364685448,37.5412057889037,260,음식점
3,백미향,서울 영등포구 양평로28바길 10-1,126.891086636445,37.5429120802468,242,음식점
4,풍성 영양돌솥밥전문점,서울 영등포구 양평로28바길 9,126.891059746882,37.5427282516156,245,음식점
5,선진포크,서울 영등포구 양평로30가길 22,126.890774903942,37.5425189566804,231,음식점
...,...,...,...,...,...,...
17302,옛골산장,경기 성남시 수정구 청계산로 440-5,127.0710895856173,37.429904947292854,176,음식점
17303,마포갈비,경기 성남시 수정구 청계산로 441,127.07142927645,37.4306823198422,115,음식점
17304,풍천가 별채,경기 성남시 수정구 청계산로 450,127.072454935165,37.4304258069238,204,음식점
17305,청계가든,경기 성남시 수정구 청계산로449번길 3,127.071763746962,37.430718157922,135,음식점
17306,담쟝동치미냉면,경기 성남시 수정구 달래내로 413,127.071699887432,37.4301019013347,180,음식점

In [109]:
conv_din = pd.concat([conv, dinning])
conv_din.to_csv('/content/drive/MyDrive/DATA/비저블 맵 프로젝트/conv_din.csv')

## 대형마트

In [110]:
places_name = []
road_address_name = []
lat = []
lng = []
distance = []
category_group_name = []

for i in range(len(df)):
  # 대형마트
  category_group_code = "MT1"
  x = df['longitude'][i]
  y = df['latitude'][i]
  radius = 1000
  ## Request
  result_ = kakao.search_category(category_group_code, x, y, radius)
  # parse
  for k in range(len(result_['documents'])):
    # add in list
    places_name.append(result_['documents'][k]['place_name'])
    road_address_name.append(result_['documents'][k]['road_address_name'])
    lat.append(result_['documents'][k]['x'])
    lng.append(result_['documents'][k]['y'])
    distance.append(result_['documents'][k]['distance'])
    category_group_name.append(result_['documents'][k]['category_group_name'])

In [112]:
MT1 = pd.DataFrame()

MT1['places_name'] = places_name
MT1['road_address_name'] = road_address_name
MT1['lat'] = lat
MT1['lng'] = lng
MT1['distance'] = distance
MT1['category_group_name'] = category_group_name

MT1 = MT1.drop_duplicates(['road_address_name'], keep = 'first')
MT1

,places_name,road_address_name,lat,lng,distance,category_group_name
0,노브랜드 영등포양평점,서울 영등포구 양평로 135,126.89268548684787,37.53818960363232,693,대형마트
1,이마트에브리데이 목동중앙점,서울 양천구 목동동로 411,126.882016986754,37.5366576379574,940,대형마트
12,홈플러스익스프레스 목동점,서울 양천구 목동동로 401,126.880822390803,37.5365230904258,925,대형마트
21,롯데슈퍼 당산역점,서울 영등포구 양평로12길 10-8,126.90161488820415,37.53487989786323,884,대형마트
23,홈플러스익스프레스 당산점,서울 영등포구 당산로44길 3,126.90106107195523,37.53187099393466,734,대형마트
...,...,...,...,...,...,...
4634,코스트코 양재점,서울 서초구 양재대로 159,127.036287876828,37.4619310902256,987,대형마트
4653,홈플러스익스프레스 세곡점,서울 강남구 헌릉로590길 10,127.102960512943,37.4631712453552,394,대형마트
4681,남서울농협하나로마트 우면점,서울 서초구 양재대로2길 116-19,127.015986206099,37.4568718911591,843,대형마트
4709,서울영동농협하나로마트 청계산역점,서울 서초구 청계산로 197,127.0559177383368,37.44766400159238,252,대형마트
4710,서울영동농협하나로마트 내곡점,서울 서초구 헌릉로 176,127.059514058961,37.4566237238188,810,대형마트

In [113]:
conv_to_mart = pd.concat([conv_din, MT1])
conv_to_mart.to_csv('/content/drive/MyDrive/DATA/비저블 맵 프로젝트/conv_to_mart.csv')

## 지하철

In [9]:
df

,Unnamed: 0,자치구명,법정동명,지번주소,건물명,층,임대건물명,임대면적,전월세구분,보증금,...,latitude,longitude,conv_num,in_din_total_300,in_mart_total_1000,in_subway_total_500,in_hosp_total_1000,in_cafe_total_300,police_500,center_500
0,0,영등포구,양평동6가,서울특별시 영등포구 양평동6가 93-2,선유도디와이파크,4,오피스텔,19.52,준전세,11000,...,37.543427,126.888418,3,10,2,1,29,4,1,1
1,1,영등포구,양평동6가,서울특별시 영등포구 양평동6가 93-2,선유도디와이파크,6,오피스텔,18.92,전세,13125,...,37.543427,126.888418,3,10,2,1,29,4,1,1
2,2,영등포구,양평동6가,서울특별시 영등포구 양평동6가 93-2,선유도디와이파크,5,오피스텔,18.92,전세,12600,...,37.543427,126.888418,3,10,2,1,29,4,1,1
3,3,영등포구,양평동6가,서울특별시 영등포구 양평동6가 93-2,선유도디와이파크,3,오피스텔,18.92,전세,9923,...,37.543427,126.888418,3,10,2,1,29,4,1,1
4,4,영등포구,양평동6가,서울특별시 영등포구 양평동6가 84,유성빌라(84-0),2,다세대/연립,50.82,준월세,1000,...,37.543388,126.889033,3,11,2,0,28,6,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186,1186,서초구,우면동,서울특별시 서초구 우면동 765,미라쉘,3,오피스텔,19.40,준월세,3000,...,37.456478,127.015923,2,8,1,0,6,3,1,0
1187,1187,서초구,우면동,서울특별시 서초구 우면동 764,계룡리슈빌S,7,아파트,21.59,준월세,1000,...,37.456461,127.016237,2,8,1,0,6,3,1,0
1188,1188,서초구,우면동,서울특별시 서초구 우면동 764,계룡리슈빌S,7,아파트,21.59,준월세,10000,...,37.456461,127.016237,2,8,1,0,6,3,1,0
1189,1189,서초구,신원동,서울특별시 서초구 신원동 619,서초포레스타6단지,4,아파트,49.34,전세,13067,...,37.449935,127.055830,6,16,2,1,14,5,0,2
1190,1190,서초구,신원동,서울특별시 서초구 신원동 68,가원빌딩,2,오피스텔,26.61,준월세,2000,...,37.431432,127.070528,2,11,0,0,0,3,0,0

In [15]:
places_name = []
road_address_name = []
lat = []
lng = []
distance = []
category_group_name = []

for i in range(len(df)):
  # 지하철
  category_group_code = "SW8"
  x = df['longitude'][i]
  y = df['latitude'][i]
  radius = 500

  ## Request
  result_ = kakao.search_category(category_group_code, x, y, radius)
  # parse
  for k in range(len(result_['documents'])):
    # add in list
    places_name.append(result_['documents'][k]['place_name'])
    road_address_name.append(result_['documents'][k]['road_address_name'])
    lat.append(result_['documents'][k]['x'])
    lng.append(result_['documents'][k]['y'])
    distance.append(result_['documents'][k]['distance'])
    category_group_name.append(result_['documents'][k]['category_group_name'])

In [16]:
SW8 = pd.DataFrame()

SW8['places_name'] = places_name
SW8['road_address_name'] = road_address_name
SW8['lat'] = lat
SW8['lng'] = lng
SW8['distance'] = distance
SW8['category_group_name'] = category_group_name

SW8 = SW8.drop_duplicates(['road_address_name'], keep = 'first')
SW8

,places_name,road_address_name,lat,lng,distance,category_group_name
0,신목동역 9호선,서울 양천구 목동중앙로 지하 217,126.883095790252,37.5442883741577,480,지하철역
4,선유도역 9호선,서울 영등포구 양평로 지하 124,126.89333386450167,37.53815865606546,382,지하철역
11,당산역 2호선,서울 영등포구 당산로 229,126.902611795523,37.5347843171332,222,지하철역
12,당산역 9호선,서울 영등포구 양평로 지하 40,126.902165052778,37.5337892432802,289,지하철역
38,국회의사당역 9호선,서울 영등포구 국회대로 지하 758,126.91783895106,37.5281465047706,338,지하철역
...,...,...,...,...,...,...
925,사당역 4호선,서울 동작구 동작대로 지하 3,126.98169851997,37.4775912070902,412,지하철역
1002,사당역 2호선,서울 동작구 남부순환로 지하 2089,126.98155858357366,37.47656223234824,265,지하철역
1007,낙성대역 2호선,서울 관악구 남부순환로 지하 1928,126.963523905001,37.4770932409965,275,지하철역
1024,양재시민의숲역 신분당선,서울 서초구 매헌로 지하 116,127.038471341381,37.4701332061395,489,지하철역
1025,청계산입구역 신분당선,서울 서초구 청계산로 지하 179,127.054720327179,37.4483547387397,201,지하철역

In [19]:
conv_to_mart = pd.read_csv('/content/drive/MyDrive/DATA/비저블 맵 프로젝트/conv_to_mart.csv')

In [20]:
# 편의점부터 마트까지 합치기
conv_to_SW8 = pd.concat([conv_to_mart, SW8])
# 저장 
conv_to_SW8.to_csv('/content/drive/MyDrive/DATA/비저블 맵 프로젝트/conv_to_SW8.csv')

## 카페

In [22]:
places_name = []
road_address_name = []
lat = []
lng = []
distance = []
category_group_name = []

for i in range(len(df)):
  # 카페
  category_group_code = "CE7"
  x = df['longitude'][i]
  y = df['latitude'][i]
  radius = 300

  ## Request
  result_ = kakao.search_category(category_group_code, x, y, radius)
  # parse
  for k in range(len(result_['documents'])):
    # add in list
    places_name.append(result_['documents'][k]['place_name'])
    road_address_name.append(result_['documents'][k]['road_address_name'])
    lat.append(result_['documents'][k]['x'])
    lng.append(result_['documents'][k]['y'])
    distance.append(result_['documents'][k]['distance'])
    category_group_name.append(result_['documents'][k]['category_group_name'])

In [23]:
CE7 = pd.DataFrame()

CE7['places_name'] = places_name
CE7['road_address_name'] = road_address_name
CE7['lat'] = lat
CE7['lng'] = lng
CE7['distance'] = distance
CE7['category_group_name'] = category_group_name

CE7 = CE7.drop_duplicates(['road_address_name'], keep = 'first')
CE7

,places_name,road_address_name,lat,lng,distance,category_group_name
0,어라운지 선유도점,서울 영등포구 양평로28마길 9,126.89077291427405,37.54233154700404,241,카페
1,먹쉬돈나 카페를더하다,서울 영등포구 양평로30길 14,126.889364684116,37.5412066899019,260,카페
3,주식회사 디홀릭,서울 영등포구 양평로30가길 22,126.890878842427,37.5426307766731,234,카페
17,커피그래피티,서울 영등포구 양평로28다길 3,126.89082534675936,37.541293644290874,281,카페
18,네가있어고마워,서울 영등포구 양평로28길 33,126.89201728900409,37.54254893127489,279,카페
...,...,...,...,...,...,...
15661,투썸플레이스 청계산입구역점,서울 서초구 청계산로 201,127.056121023056,37.4474837024348,273,카페
15662,일리카페 오라카이호텔청계산점,서울 서초구 청계산로9길 1-7,127.054666535223,37.4489782652273,147,카페
15663,카페3플로우,경기 성남시 수정구 달래내로 407,127.07168158657103,37.42986764810667,201,카페
15664,까페보니토 옛골점,경기 성남시 수정구 청계산로 443,127.071546757018,37.4306570203315,124,카페
15665,카페엠,경기 성남시 수정구 청계산로 447,127.071967137618,37.4307360546004,149,카페

In [24]:
# 편의점부터 카페까지 합치기
conv_to_CE7 = pd.concat([conv_to_SW8, CE7])
# 저장 
conv_to_CE7.to_csv('/content/drive/MyDrive/DATA/비저블 맵 프로젝트/conv_to_CE7.csv')

## 병원

In [25]:
places_name = []
road_address_name = []
lat = []
lng = []
distance = []
category_group_name = []

for i in range(len(df)):
  # 카페
  category_group_code = "HP8"
  x = df['longitude'][i]
  y = df['latitude'][i]
  radius = 1000

  ## Request
  result_ = kakao.search_category(category_group_code, x, y, radius)
  # parse
  for k in range(len(result_['documents'])):
    # add in list
    places_name.append(result_['documents'][k]['place_name'])
    road_address_name.append(result_['documents'][k]['road_address_name'])
    lat.append(result_['documents'][k]['x'])
    lng.append(result_['documents'][k]['y'])
    distance.append(result_['documents'][k]['distance'])
    category_group_name.append(result_['documents'][k]['category_group_name'])

In [26]:
HP8 = pd.DataFrame()

HP8['places_name'] = places_name
HP8['road_address_name'] = road_address_name
HP8['lat'] = lat
HP8['lng'] = lng
HP8['distance'] = distance
HP8['category_group_name'] = category_group_name

HP8 = HP8.drop_duplicates(['road_address_name'], keep = 'first')
HP8

,places_name,road_address_name,lat,lng,distance,category_group_name
0,이대목동병원,서울 양천구 안양천로 1071,126.886284893452,37.536604160773,780,병원
1,서울은빛요양병원,서울 영등포구 양평로22사길 9,126.89504371894631,37.54084084239978,652,병원
2,연세그린의원,서울 영등포구 양평로 129,126.893248224701,37.5379117047069,746,병원
3,양천서울이비인후과,서울 양천구 목동서로 49,126.880500163235,37.5370849887909,992,병원
4,목동연세정형외과의원,서울 양천구 목동동로 427,126.883985146572,37.5370199878921,812,병원
...,...,...,...,...,...,...
17687,하나동물병원,서울 서초구 헌릉로8길 10-12,127.0573522681,37.4556192625068,644,병원
17688,사랑이가득한치과,서울 서초구 청계산로 203,127.056328823155,37.4472979946861,296,병원
17689,서울내곡치과의원,서울 서초구 헌릉로8길 9-8,127.05997072282418,37.45668115777436,833,병원
17691,느티나무치과의원,서울 서초구 청룡마을길 4-3,127.058140148293,37.4455419418899,528,병원
17693,아이숲소아청소년과의원,서울 서초구 헌릉로8길 45,127.06217181583051,37.45456534335624,760,병원

In [28]:
# 편의점부터 카페까지 합치기
conv_to_HP8 = pd.concat([conv_to_CE7, HP8])
# 저장 
conv_to_HP8.to_csv('/content/drive/MyDrive/DATA/비저블 맵 프로젝트/conv_to_HP8.csv')

## 경찰서 (키워드 서치)

In [39]:
places_name_ = []
road_address_name_ = []
lat_ = []
lng_ = []
distance_ = []
category_group_name_ = []


for i in range(len(df)):
  x = df['longitude'][i]
  y = df['latitude'][i]
  ## 검색어 지정
  query = "경찰서"
  ## request
  result_keyword = kakao.search_keyword(query,
                                x = x,
                                y = y,
                                radius = 500,
                                sort = 'distance')
  # 단어 속속 주워담기 
  for k in range(len(result_keyword['documents'])):
    # add in list
    places_name_.append(result_keyword['documents'][k]['place_name'])
    road_address_name_.append(result_keyword['documents'][k]['road_address_name'])
    lat_.append(result_keyword['documents'][k]['x'])
    lng_.append(result_keyword['documents'][k]['y'])
    distance_.append(result_keyword['documents'][k]['distance'])
    category_group_name_.append(result_keyword['documents'][k]['category_group_name'])

In [42]:
police_500 = pd.DataFrame()

police_500['places_name'] = places_name_
police_500['road_address_name'] = road_address_name_
police_500['lat'] = lat_
police_500['lng'] = lng_
police_500['distance'] = distance_
police_500['category_group_name'] = category_group_name_

police_500 = police_500.drop_duplicates(['road_address_name'], keep = 'first')
police_500 = police_500[police_500['category_group_name'] == '공공기관']
police_500

,places_name,road_address_name,lat,lng,distance,category_group_name
8,양평2치안센터,서울 영등포구 선유로53길 23,126.895972846372,37.5378780962698,320,공공기관
13,당산지구대,서울 영등포구 당산로 221,126.901273719774,37.5336263213917,284,공공기관
34,여의도지구대,서울 영등포구 여의공원로 120,126.926688973764,37.5296083484012,191,공공기관
88,양평파출소,서울 영등포구 선유로 95,126.889550428821,37.5226741782158,466,공공기관
103,청담2치안센터,서울 강남구 삼성로 761,127.047874037563,37.5227233274492,441,공공기관
...,...,...,...,...,...,...
1295,우면치안센터,서울 서초구 바우뫼로 45,127.02717202333046,37.47184826465713,323,공공기관
1305,대학동치안센터,서울 관악구 대학길 48,126.937555457566,37.4685732309649,407,공공기관
1312,대왕파출소,서울 강남구 헌릉로 623,127.107326502621,37.4651820217648,419,공공기관
1313,삼성치안센터,서울 관악구 호암로 501,126.931673744018,37.462500764815,160,공공기관
1314,우면파출소,서울 서초구 양재대로2길 106,127.016022210217,37.4561042234045,125,공공기관

In [43]:
# 편의점부터 카페까지 합치기
conv_to_police_500 = pd.concat([conv_to_HP8, police_500])
# 저장 
conv_to_police_500.to_csv('/content/drive/MyDrive/DATA/비저블 맵 프로젝트/conv_to_police_500.csv')

## 동사무소 (키워드서치)

In [45]:
places_name_ = []
road_address_name_ = []
lat_ = []
lng_ = []
distance_ = []
category_group_name_ = []


for i in range(len(df)):
  x = df['longitude'][i]
  y = df['latitude'][i]
  ## 검색어 지정
  query = "동사무소"
  ## request
  result_keyword = kakao.search_keyword(query,
                                x = x,
                                y = y,
                                radius = 500,
                                sort = 'distance')
  # 단어 속속 주워담기 
  for k in range(len(result_keyword['documents'])):
    # add in list
    places_name_.append(result_keyword['documents'][k]['place_name'])
    road_address_name_.append(result_keyword['documents'][k]['road_address_name'])
    lat_.append(result_keyword['documents'][k]['x'])
    lng_.append(result_keyword['documents'][k]['y'])
    distance_.append(result_keyword['documents'][k]['distance'])
    category_group_name_.append(result_keyword['documents'][k]['category_group_name'])

In [46]:
county_office = pd.DataFrame()

county_office['places_name'] = places_name_
county_office['road_address_name'] = road_address_name_
county_office['lat'] = lat_
county_office['lng'] = lng_
county_office['distance'] = distance_
county_office['category_group_name'] = category_group_name_

county_office = county_office.drop_duplicates(['road_address_name'], keep = 'first')
county_office

,places_name,road_address_name,lat,lng,distance,category_group_name
0,영등포구마을자치센터,서울 영등포구 양평로28마길 18-1,126.88993478497,37.5428713682884,147,공공기관
7,양평2동주민센터,서울 영등포구 선유로47길 30,126.894037724516,37.536499647702,462,공공기관
15,당산2동주민센터,서울 영등포구 당산로41가길 7,126.89731287948426,37.53100283342792,471,공공기관
21,여의동주민센터 현장민원실,서울 영등포구 국제금융로 10,126.92552996330159,37.52557473961142,471,공공기관
24,당산1동주민자치센터,서울 영등포구 양산로23길 11,126.897375435576,37.5249805939879,470,공공기관
...,...,...,...,...,...,...
1172,난곡동주민센터,서울 관악구 난곡로30길 40,126.921654637868,37.4710253192192,326,공공기관
1183,양재1동주민센터,서울 서초구 바우뫼로 41,127.026728803944,37.4716393313279,281,공공기관
1190,삼성동주민센터,서울 관악구 호암로 589,126.932973581898,37.4701456874908,74,공공기관
1191,대학동주민센터,서울 관악구 신림로 111,126.936970450154,37.470609204402,364,공공기관
1201,내곡열린문화센터,서울 서초구 청계산로15길 77,127.05821995801058,37.449367608200475,220,공공기관

In [51]:
# 편의점부터 주민센터까지 합치기
conv_to_county_office = pd.concat([conv_to_police_500, county_office])
# 저장 
# conv_to_county_office.to_csv('/content/drive/MyDrive/DATA/비저블 맵 프로젝트/conv_to_county_office.csv')

### 최종 결과물

In [52]:
info_near = conv_to_county_office.drop(['Unnamed: 0'], axis = 1)
info_near

,places_name,road_address_name,lat,lng,distance,category_group_name
0,GS25 양평본점,서울 영등포구 양평로30가길 19,126.890409,37.542346,212,편의점
1,세븐일레븐 양평유성점,서울 영등포구 양평로30나길 14,126.889552,37.543397,100,편의점
2,세븐일레븐 양평까뮤스퀘어점,서울 영등포구 양평로30길 14,126.889365,37.541206,260,편의점
3,CU 양평한신점,서울 영등포구 양평로24길 9,126.891086,37.540779,96,편의점
4,세븐일레븐 양평우림점,서울 영등포구 양평로 149,126.891328,37.538847,208,편의점
...,...,...,...,...,...,...
1172,난곡동주민센터,서울 관악구 난곡로30길 40,126.921654637868,37.4710253192192,326,공공기관
1183,양재1동주민센터,서울 서초구 바우뫼로 41,127.026728803944,37.4716393313279,281,공공기관
1190,삼성동주민센터,서울 관악구 호암로 589,126.932973581898,37.4701456874908,74,공공기관
1191,대학동주민센터,서울 관악구 신림로 111,126.936970450154,37.470609204402,364,공공기관
1201,내곡열린문화센터,서울 서초구 청계산로15길 77,127.05821995801058,37.449367608200475,220,공공기관

In [53]:
info_near.to_csv('/content/drive/MyDrive/DATA/비저블 맵 프로젝트/info_near.csv')